body {
    margin: 0;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    background-image: url(../img/classic_nav_background.svg);
    height: 173.5px;
}

nav > img {
    margin-left: 9%;
    height: 68px;
    width: 68px;
}

main {
    height: 100%;
    padding: 0 12%;
}

.column_maker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 4em 0; 
    font-family: "Salsa", cursive;
}

a {
    text-decoration: none;
    font-family: "Salsa", cursive;
}

#choice_auth_btn {
    margin-bottom: 13em;
}

.log_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 280px;
    border: transparent;
    border-radius: 36px;
    background-color: #F2BB16;
    margin-bottom: 3em;
}

.log_btn > a {
    color: #000;
    font-size: 25px;
    font-weight: 500;
}

.register_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 210px;
    border-radius: 36px;
    border: 1.5px solid #F2BB16;
    background-color: transparent;
}

.register_btn > a {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.login_form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 10em;
}

label {
    font-weight: 500;
    width: 100%;
}

input {
    margin-top: 3px;
    margin-bottom: 2em;
    height: 40px;
    width: 100%;
    font-size: 18px;
    border: 0.5px solid #444444;
    border-radius: 6px;
}

input::placeholder {
  color: #5e5e5e;
  opacity: 1;
}

.valid_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
    border: transparent;
    border-radius: 36px;
    background-color: #F2BB16;
    margin: 3em 0;
    padding: 0 15px;
    font-size: 20px;
    font-family: "Salsa", cursive;
}

.register_form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    font-family: "Quicksand", sans-serif;
}

.login_form_div, .register_form_div {
    width: 100%;
    display: flex;
    justify-content: center;
}