* {
    box-sizing: border-box;
}
  
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
  
#menu_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/yellow_nav_background.svg);
}  

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/nav_background.svg);
    height: 174px;
}

nav > img {
    margin: 0 0 9% 9%;
    height: 68px;
    width: 68px;
}

#menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFD;
    border-radius: 50%;
    height: 43px;
    width: 43px;
    margin: 0 9% 10% 0;
}

#menuBtn a {
    text-decoration: none;
    color: #000;
    font-size: 23px;
}

#user_profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#user_profile img {
    margin: 12px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#username {
    height: 35px;
    background-color: #D9D9D9;
    border-radius: 24px;
}

#username h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin: 0;
    padding: 0 25px;
}

#user_description {
    width: 100%;
    margin: 12px 15px;
    padding: 25px;
    background-color: #D9D9D9;
    border-radius: 24px;
}

#user_description p {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

#filterBtn {
    height: 30px;
    width: 100px;
    margin-right: 17px;
    background-color: rgba(186, 217, 206, 0.54);
    border-radius: 24px;
    text-align: center;
}

#filterBtn a {
    text-decoration: none;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.flex-end{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

#album_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 9px;
    width: 100%;
}

#album_section div{
    margin: 6px;
    text-align: center;
}

#album_section div p {
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#menu_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#deconnect_btn {
    margin-bottom: 4em;
    color: #dd0707;
    font-family: "Quicksand", sans-serif;
    font-size: 23px;
    font-weight: 500;
}

#create_album_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #000;
    font-family: "Quicksand", sans-serif;
}

#create_album_form > input, #create_album_form > textarea {
    margin-bottom: 1.5em;
    background-color: #D9D9D9;
    border-radius: 24px;
    width: 100%;
    min-height: 20px;
    padding: 5px 10px;
    border-color: transparent;
}
